body {
  background-image: url('../images/thomas-kelley-xVptEZzgVfo-unsplash\ \(1\).jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /*background: linear-gradient(to right, rgb(208, 216, 216), rgb(136, 139, 187));*/
  padding: 100px;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: rgb(0, 17, 255);
}

h1 {
  text-align: center;
}

/* ol {
  text-align: left;
} */

li {
  text-align: left;
}
a {
  color: #00b7ff;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}
