body {
  background-image: url('../images/thomas-kelley-xVptEZzgVfo-unsplash\ \(1\).jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: rgb(253, 253, 253);
}

.mainContainer {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.8fr 1.1fr 1.1fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 20px 20px;
  grid-template-areas:
    'header header header'
    'submit getAll bestPack'
    'footer footer footer';
}
.header {
  background-color: rgba(201, 190, 182, 0.5);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin: 0.1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.footer {
  grid-area: footer;
  background-color: rgba(201, 190, 182, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  margin: 0.1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.submit {
  grid-area: submit;
  background-color: rgb(70, 70, 70, 0.6);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 0.1rem;
}

.getAll {
  grid-area: getAll;
  background-color: rgb(70, 70, 70, 0.6);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 0.1rem;
}
.bestPack {
  grid-area: bestPack;
  background-color: rgb(70, 70, 70, 0.6);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 0.1rem;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.card-1 {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(201, 190, 182, 0.5);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 25rem;
  max-height: 25rem;
}

/* .card:hover, */
/* .card: focus; */
/* .card:active {
  color: #171edd;
  border-color: #452fbe;
} */
